<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>Student Id: <%= @student.id %></p>
        <p>Name: <%= @student.name %></p>
        <p>Email: <%= @student.email %></p>
        <p>Classes:</p>
        <ul>
            <% c_s = @student.college_classes %>
            <% c_s.each do |c| %>
              <li><%= c.name %></li>
            <% end %>
        </ul>
    </body>
</html>