<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Student:</h1>
        <% @students.each do |s| %>
        <p><% s.name %> <a href="/student/<%= s.id %>">Show</a></p>
        <% end %>
    </body>
</html>